#
# buildout config file to download the set up Zend Framework
#

[pathes]
sandbox-buildout-template-directory = ${buildout:directory}/src/sandbox/buildout/template
# pathes for sandbox app, 
sandbox-zendapp = ${buildout:directory}/src/sandbox/zendapp
sandbox-zendapp-config = ${:sandbox-zendapp}/configs/application.ini
sandbox-zendapp-index.php = ${buildout:directory}/src/sandbox/www/index.php
sandbox-tests = ${buildout:directory}/src/sandbox/tests

[settings]
zend-sandbox-logging-file = ${:log-directory}/zend-sandbox.log
zend-sandbox-logging-priority = 7

# generate the Zend application test helper php from template.
# this will also present as the sample for how to unit test Zend application.
[zend-sandbox-testhelper]
recipe = collective.recipe.template
output = ${pathes:sandbox-tests}/ZendTestHelper.php
input = ${pathes:sandbox-buildout-template-directory}/ZendTestHelper-sandbox.php.in
mode = 644

# generate the Zend application config ini
[zend-sandbox-appini]
recipe = collective.recipe.template
output = ${pathes:sandbox-zendapp-config}
input = ${pathes:sandbox-buildout-template-directory}/zend-sandbox-appini.in
mode = 644

[zend-sandbox-index]
recipe = collective.recipe.template
output = ${pathes:sandbox-zendapp-index.php}
input = ${pathes:sandbox-buildout-template-directory}/zend-sandbox-index.php.in
mode = 644
